.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/php-test-framework.xml
cmake-build-*/
.idea/**/mongoSettings.xml
*.iws
out/
.idea_modules/
.idea/httpRequests
.idea/caches/build_file_checksums.ser
logs
*.log
npm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
lib-cov
coverage
*.lcov
.nyc_output
bower_components
.lock-wscript
build/Release
node_modules/
jspm_packages/
web_modules/
*.tsbuildinfo
.npm
.eslintcache
.stylelintcache
*.tgz
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.cache/
.temp
dist/
vendor/